body {
    font-family: Arial, sans-serif;
    background-image: url('dark.jpeg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.login-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
     font-size: 18px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.login-button {
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background: #4cae4c;
}

